@font-face {
    font-family: 'NotoSansMono';
    src: url('../assets/fonts/Noto_Sans_Mono/static/NotoSansMono-Regular.ttf') format('truetype');
}
body {
    background: #222222;
    font-family: 'NotoSansMono', monospace;
    color: #CCCCCC;

}
.region {
    border: 2px solid #BBBBFF;
    user-select: none;
    border-radius: 20px;
    margin: 2px;
    transition: border-color 0.15s;
    transition: border-width 0.15s;
    position: fixed;
}
.region h2 {
    text-align: center;
}
.header {
    user-select: none;
    white-space: pre;
    text-align: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.36vh;
    height: 15vh;
    padding: 10px;
}
.reason p {
    padding: 20px;
    font-size: 14px;
}
.reason {
    width: 45vw;
    max-width: 400px;
}
.links {
    height: 100px;
    width: 45vw;
}
.parent {
    display: flex;
    align-items: left;
}