@font-face {
    font-family: 'NotoSansMono';
    src: url('../assets/fonts/Noto_Sans_Mono/static/NotoSansMono-Regular.ttf') format('truetype');
}

body {
    background: #222222;
    font-family: 'NotoSansMono', monospace;
    color: #CCCCCC;
}
.header {
    white-space: pre;
    border: 5px solid #444460;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 1.27vw;
}